@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    margin: 0px;
    padding:0px;
    font-family: 'Source Sans Pro', sans-serif;
}
ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}
button{
    border:none;
    cursor: pointer;
    outline: none;
}
a{
    text-decoration: none;
}

:root{
    /* color */
    --color-black : #343434;
    --color-gray : #ddd;
    --color-red : #eb0000;
    --color-skyblue : #006dd4;

    /* font size */
    --size-large : 28px;
    --size-medium : 24px;
    --size-small : 18px;
    --size-micro: 14px;

    /* bold */
    --bold:700;
    --light:400;
}



/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    border: 1px solid red;
    font-size: var(--size-medium);
}
.logo{
    margin: 15px;
}
.fa-youtube{
    color: var(--color-red);
}

.logo span{
    color: var(--color-black);
    font-weight: var(--bold);
}
.header__search{
    margin:15px;
    font-size: var(--size-small);
}
.fa-search{
    padding-right:15px;
}


/* view */
.view{
    max-width: 1200px;
    margin:0 auto;
}

/* info */
.info{
    border: 3px solid blue;
    color: var(--color-black);
}
.info__hash{
    color: var(--color-skyblue);
    font-size: var(--size-micro);
}
.info__title h4{
    margin: 0;
    font-size: var(--size-small);
}
.info__view{
    font-size: var(--size-micro);
}
.info__view__date{
    margin-left: 7px;
}

