@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    margin: 0px;
    padding:0px;
    font-family: 'Source Sans Pro', sans-serif;
}
ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}
button{
    border:none;
    cursor: pointer;
    outline: none;
}
a{
    text-decoration: none;
}

:root{
    /* color */
    --color-black : #343434;
    --color-gray : rgb(173, 173, 173);
    --color-red : #eb0000;
    --color-skyblue : #006dd4;

    /* font size */
    --size-large : 28px;
    --size-medium : 24px;
    --size-small : 18px;
    --size-micro: 14px;

    /* bold */
    --bold:700;
    --light:400;
}



/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    border: 1px solid red;
    font-size: var(--size-medium);
}
.logo{
    margin: 15px;
}
.fa-youtube{
    color: var(--color-red);
}

.logo span{
    color: var(--color-black);
    font-weight: var(--bold);
}
.header__search{
    margin:15px;
    font-size: var(--size-small);
}
.fa-search{
    padding-right:15px;
}


/* view */
.view{
    max-width: 1200px;
    margin:0 auto;
}

/* info */
.info{
    color: var(--color-black);
}
.info__hash{
    color: var(--color-skyblue);
    font-size: var(--size-micro);
}
.info__title h4{
    margin: 0;
    font-size: var(--size-small);
}
.info__view{
    font-size: var(--size-micro);
}
.info__view__date{
    margin-left: 7px;
}
.info__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-gray);
    
}
.items{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
}
.items span{
    font-size: var(--size-small);
}
.items a .fas{
    color: var(--color-black);
    margin-bottom: 7px;
}

.info__channel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    font-size: var(--size-small);
    border-bottom: 1px solid var(--color-gray);
    border: 1px solid red; 
}
.info__channel__profile{
    display: flex;
    align-items: center;

}
.fa-reddit{
    font-size: 40px;
    margin-left: 15px;
}
.info__channel__profile__name span{
    margin-left: 15px;
    font-size: var(--size-small);
}
.info__channel__profile__name span:nth-child(2){
    display: block;
    font-size: var(--size-micro);
    color: var(--color-gray);
}
.info__channel__subs{
    
}